
<div class="min-w-screen min-h-screen bg-zinc-600 flex items-center 
            justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl bg-gray-100 shadow-xl 
            text-zinc-900 relative overflow-hidden" style="max-width: 600px">
    <h1 class="text-center py-10 text-3xl font-bold p-2 text-zinc-600">
      </h1>

    <!-- Display screen -->
    <div class="w-full h-40 bg-gradient-to-b from-zinc-800 to-zinc-700 text-right">

      <!-- Function screen -->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{funcT}}</div>

      <!-- Result -->
      <div class="w-full py-4 px-6 text-6xl text-white font-thin">
        {{displayNumber}}
      </div>
    </div>

    <!-- Buttons -->
    <div class="w-full bg-zinc-400">
      <!-- first row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-zinc-500">
          <button class="special-button" (click)="onClickValue('CE', 'function')"
          >
          CE
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-zinc-500">
          <button class="special-button" (click)="onClickValue('%', 'function')">
            %
          </button>
        </div>
        <div class="w-1/4 border-b border-zinc-500">
          <button class="special-button" (click)="onClickValue('/', 'function')">
            ÷
          </button>
        </div>
      </div>
    </div>
    <!-- second row -->
    <div class="flex w-full bg-zinc-700">
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('7', 'number')">
          7
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('8', 'number')">
          8
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('9', 'number')">
          9
        </button>
      </div>
      <div class="w-1/4 border-b border-zinc-500 bg-zinc-400">
        <button class="special-button" (click)="onClickValue('*', 'function')">
          *
        </button>
      </div>
    </div>
    <!-- third row -->
    <div class="flex w-full bg-zinc-700">
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('4', 'number')">
          4
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('5', 'number')">
          5
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('6', 'number')">
          6
        </button>
      </div>
      <div class="w-1/4 border-b border-zinc-500 bg-zinc-400">
        <button class="special-button" (click)="onClickValue('+', 'function')">
          +
        </button>
      </div>
    </div>
    <!-- fourth row -->
    <div class="flex w-full bg-zinc-700">
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('1', 'number')">
          1
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('2', 'number')">
          2
        </button>
      </div>
      <div class="w-1/4 border-r border-b border-zinc-500">
        <button class="normal-button" (click)="onClickValue('3', 'number')">
          3
        </button>
      </div>
      <div class="w-1/4 border-b border-zinc-500 bg-zinc-400">
        <button class="special-button" (click)="onClickValue('-', 'function')">
          -
        </button>
      </div>
    </div>
    <!-- fifth row -->
    <div class="flex w-full bg-zinc-700">
      <div class="w-2/4 border-r border-zinc-500">
        <button class="normal-button" (click)="onClickValue('0', 'number')">
          0
        </button>
      </div>
      <div class="w-1/4 border-r border-zinc-500">
        <button class="normal-button" (click)="onClickValue('.', 'number')">
          .
        </button>
      </div>
      <div class="w-1/4 border-zinc-500 bg-zinc-400">
        <button class="special-button" (click)="onClickValue('=', 'function')">
          =
        </button>
      </div>
    </div>
    
  </div>
  <h1 class="absolute bottom-10 text-zinc-300">
    &trade; Paras Adhikari
  </h1>
</div>